html, body {
    margin: 20px auto;
}

body {
   background-color: bisque; 
   text-align: center;
   animation: pulse 5s infinite;
}

.intro {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Lucida Sans', sans-serif;
}

h1 {
    font-family: 'Lucida Sans', sans-serif;
    text-shadow: 1px 1px darkslategray;
}


.title_marq {
  display: flex;
}

  .title {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

  @keyframes pulse {
    0% {
      background-color: #eea765;
    }
    100% {
      background-color: #d48884;
    }
  }
  

 .buttons {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.button1, .button2 {
    margin-right: 25px;
    background-color: rgb(113, 107, 190);
    color: white;
    font-size: 20px;
    height: 50px;
    box-shadow: 1px solid rgb(112, 111, 111);
    border-radius: 8px;
}

.button2 {
    width: 90px;
}

.button1:hover {
    background-color: honeydew;
    color: indigo;
}

.button2:hover {
    background-color: lightcoral;
    color: maroon;
    font-weight: 600;
}

#skaityti {
    font-size: 20px;
}

.zaidejai {
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}

.zaidejas1 img, .zaidejas2 img, .zaidejas3 img {
    transition: transform .2s;
}

.zaidejas1 img:hover, .zaidejas2 img:hover, .zaidejas3 img:hover {
    transform: scale(1.5);
}

img {
  display: block;
  margin: auto;
}

.zaidejas1, .zaidejas2, .zaidejas3 {
  display: flex;
  flex-direction: column;
}

#vardoLaukas1, #vardoLaukas2, #vardoLaukas3 {
  text-align: center;
  margin-top: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pasirinkZaideja p {
  font-size: 40px;
  color: rgb(11, 11, 134);
}
